@charset "uft-8";


#page1{background-image: url(../images/bg0102.jpg);}
#page2{background-image: url(../images/gd.jpg);z-index:1;}
#page3{background-image: url();}
.section{
         background-repeat: no-repeat;
         background-position: center;
         background-size:cover;
      }



ul.navbar{width:100%;height:40px;top:0px;
	background-color:gray;opacity:0.9;line-height:40px;padding-left:30%;
	position:fixed;z-index:1;}
ul.navbar>li{float: left;font-size:18px;
	font-weight: bold;text-align: center;width:100px;}
ul.navbar>li>a{color:white;display: block;}
ul.navbar>li>a:hover{color:#FFE503;font-size:19px;transition:0.4s;}
.smenu{display: none;}
ul.navbar>li:nth-child(1):hover .smenu{display: block;color:#FFE503;}

ul.navbar>li:nth-child(1) .smenu{width: 100%;position: absolute;left:30%;
opacity:0.8;}
ul.navbar>li:nth-child(2):hover .smenu{display: block;color:#FFE503;}

ul.navbar>li:nth-child(2) .smenu{width: 100%;position: absolute;left:30%;
opacity:0.8;}
ul.navbar>li:nth-child(3):hover .smenu{display: block;color:#FFE503;}

ul.navbar>li:nth-child(3) .smenu{width: 100%;position: absolute;left:38%;
opacity:0.8;}
ul.navbar>li:nth-child(4):hover .smenu{display: block;color:#FFE503;}

ul.navbar>li:nth-child(4) .smenu{width: 100%;position: absolute;left:40%;
opacity:0.8;}
ul.navbar>li:nth-child(6):hover .smenu{display: block;color:#FFE503;}

ul.navbar>li:nth-child(6) .smenu{width: 100%;position: absolute;left:45%;
opacity:0.8;}
ul.navbar>li:nth-child(7):hover .smenu{display: block;color:#FFE503;}

ul.navbar>li:nth-child(7) .smenu{width: 100%;position: absolute;left:56.5%;
opacity:0.8;}
ul.navbar>li:nth-child(8):hover .smenu{display: block;color:#FFE503;}

ul.navbar>li:nth-child(8) .smenu{width: 100%;position: absolute;left:60%;
opacity:0.8;}
.smenu li{float: left;background-color:gray;}
.smenu li>a{display: block;padding:0 10px;line-height:40px;color:white;}
.smenu li>a:hover{color:#ffe503;}

/*.section ul li a:hover .smenu{display: block;}*/
.scroll{position: absolute;left: 50%;transform:translateX(-50%);
      	bottom: 20px; animation:xScroll 0.8s infinite alternate;
      	z-index:1;}

      	@keyframes xScroll{
      		from{bottom: 20px;}
      		to{bottom: 40px;}
      	}


.sWrap .banner{width: 100%;height:50%;position: relative;}

.banner li:nth-child(1){width: 45%;height: 100%;position: absolute;left: 0;}
.banner li:nth-child(1) img{width: 100%;height: 100%;}
.banner li:nth-child(2){width: 45%;height: 100%;position: absolute;right: 0;}
.banner li:nth-child(2) img{width: 100%;height: 100%;}

.topMenu img{position: fixed;right: 0;bottom: 0;z-index:1;
   animation:yScroll 0.8s infinite alternate;}

      @keyframes yScroll{
         from{right: 20px;}
         to{right: 40px;}
      }


    	
.sWrap{width: 800px;height: 390px;
position: absolute;left: 29%;top:18%;opacity:1;}
#fullpage{position: relative;}
img.logo{position: absolute;left: 45%;top: 6%;width: 10%;height: 10%;z-index:1;}



.sWrap h3{animation-iteration-count: infinite;padding-bottom:2%;text-align: center;color:white;font-weight: bold;font-size:25px}
.sWrap .vod{width: 800px;height:390px;background-color: #ff0000;}
#video{position: absolute;width: 100%;height: 100%;object-fit: cover}
.slider li img{width: 100%;}

.black{width: 100%;height: 100%;background-color:black;opacity:0.7;text-indent:-9999px;position: absolute;}
.guide{width: 100%;height: 100%;position: relative;}
.guide li{text-indent:-9999px}
.guide h1{color:white;position: absolute;left: 44.5%;top: 35%;font-size:30px;}
.guide .bar1{ width: 36px;height: 5px;
         animation:xyScroll 0.8s infinite alternate;
         background-color: #fff;border-radius:3px;position: absolute;left: 50.7%;top: 430px;transform:translate(-50%,-50%)rotate(-45deg);}
.guide .bar2{ width: 36px;height: 5px;
         animation:xyScroll 0.8s infinite alternate;
         background-color: #fff;border-radius:3px;position: absolute;left: 49.6%;top: 430px;transform:translate(-50%,-50%)rotate(45deg);}
           

            @keyframes xyScroll{
            from{top:430px;}
            to{top:450px;}
         }

.click{position: absolute;left: 49%;top:40%;color:white;font-size:20px;}

.bar1{top: 11px;}
.bar2{top: 21px;}
.guide button>img{width: 100px;}
.guide button{position: absolute;left: 47.3%;top: 49.5%;
background-color:navy;}

	/*page2*/
.guide .simg{width: 44%;height:100%;background-color:white;position: absolute;left: -100%;}
.guide .rimg{position: absolute;right: -100%;width:44%;height: 100%;background-color:white}

.simg img.keyB{margin-left: 14%;margin-top: 5%;}


.simg2 img{margin-top:2%;float: left;margin-left: 14%;}
.simg2 h3{display: block;margin: 0 auto;margin-left: 29.5%;margin-top: 20px;padding-bottom: 10px;color:black;font-size:20px;}
.simg2 p{display: block;margin: 0 auto;padding-left:16%;padding-bottom:30px;
border-bottom: 2px solid black; width:75%;}

.simg3 img{float: left;border-bottom: 0 none;margin-top: 30px;margin-left: 14%;}
.simg3 h3{display: block;margin: 0 auto;padding-left:29.5%;margin-top: 20px;padding-bottom: 10px;}
.simg3 p{display: block;margin: 0 auto;padding-left:16%;
border-bottom: 2px solid black; width:75%; padding-bottom:20px;}


.simg4 img{float: left;border-bottom: 0 none;margin-top: 1%;margin-left: 14%;}
.simg4 h3{margin-left: 29.2%;margin-top:3%;}
.simg4 p{display: block;margin: 0 auto;padding-left:16%;
border-bottom: 2px solid black; width:75%;padding-top:2%;padding-bottom:5%;}

.simg5 img{float: left;border-bottom: 0 none;margin-top: 1%;margin-left: 14%;}
.simg5 h3{margin-left: 29.2%;margin-top:3%;}
.simg5 p{display: block;margin: 0 auto;padding-left:16%;
border-bottom: 2px solid black; width:75%;padding-top:2%;padding-bottom:5%;}




.rimg h2{padding-top:80px;text-align: center;font-weight: bold;color:pink;text-align: center;}
.rimg1 img{margin-left:80px;margin-top:10.5%;float: left;border-bottom: 2px solid #000;padding-bottom:21px;}
.rimg1 h3{width: 190px;margin-left:300px;padding-top:90px;padding-bottom:10px;color:red;}
.rimg1 p{width: 500px;margin-left:300px;text-align: center;border-bottom: 2px solid #000;padding-bottom:20px;}

.rimg2 img{float: right;margin-right:42px;margin-top:-140px;border-bottom: 2px solid #000;padding-bottom:21px;}
.rimg2 h3{width: 190px;margin-left:85px;padding-top:120px;padding-bottom:10px;color:blue;}
.rimg2 p{width: 500px;margin-left:80px;text-align: center;
border-bottom: 2px solid #000;padding-bottom:20px;}

.rimg3 img{margin-left:80px;margin-top:-140px;float: left;border-bottom: 2px solid #000;padding-bottom:21px;}
.rimg3 h3{width: 190px;margin-left:300px;padding-top:120px;padding-bottom:10px;color:magenta;}
.rimg3 p{width: 500px;margin-left:300px;text-align: center;
border-bottom: 2px solid #000;padding-bottom:20px;}

	/*page3*/
#page3{width: 100%;height: 100%;background-color:#4b78c3;position: relative;}   
.main{width: 280px;height: 100px;margin: 0 auto;text-align: center;}
.main h1{font-weight: bold;color:#fff;margin: 0 auto;}
.main p{text-align: center;padding-top:20px;}
.main a{font-size:30px;color:#fff;}
.main a.more{border: 2px solid #fff;padding:10px;}

.main a:hover{color:#009ddc;background-color:navy;font-weight: bold;}


.section .mobile{width: 700px;height: 100%;background-color:#7caeeb;position: absolute;
top:-100%;left: 0;}
.section .pc{position: absolute;bottom: -100%;
width: 700px;height: 100%;right:0;background-color:#7caeeb;}
.white{color:white;}
.mobile h3{font-size:30px;px;text-align: center;padding-top: 70px;}
.mobile01{width: 700px;height: 200px;background-color:white;margin-top: 50px;}
.mobile01 img{float: left;margin-left:20px;margin-top:0px;}
.mobile01 h3{width: 200px;margin: 0 auto;margin-top: 20px;}
.mobile01 p{float: left;margin-left: 36px;margin-top: 30px;}


.mobile02{width: 700px;height: 200px;background-color:white;}
.mobile02 img{float: left;margin-left:20px;margin-top:0px;}
.mobile02 h3{width: 200px;margin: 0 auto;margin-top: 60px;text-align:left;}
.mobile02 p{float: left;margin-left:30px;margin-top: 30px;}



.mobile03{width: 700px;height: 200px;background-color:white;}
.mobile03 img{float: left;margin-left:20px;margin-top:0px;}
.mobile03 h3{width: 200px;margin: 0 auto;text-align:left;margin-top: 60px;}
.mobile03 p{float: left;margin-left: 30px;margin-top: 30px;}



.pc h3{text-align: center;padding-top: 60px;font-size:30px;}

.pc01{width: 700px;height: 200px;background-color:white;}
.pc01 img{float: left;margin-left:20px;margin-top:0px;}
.pc01 h3{width: 500px;margin: 0 auto;margin-top:40px;  }
.pc01 p{float: left;margin-left: 50px;margin-top: 30px;text-align: center;}


.pc02{width: 700px;height: 200px;background-color:white;}
.pc02 img{float: left;margin-left:20px;margin-top:0px;}
.pc02 h3{width: 400px;margin: 0 auto;margin-top: 60px;text-align:center;}
.pc02 p{float: left;margin-left:50px;margin-top: 30px;}



.pc03{width: 700px;height: 200px;background-color:white;}
.pc03 img{float: left;margin-left:20px;margin-top:0px;}
.pc03 h3{width: 500px;margin: 0 auto;margin-top: 60px;}
.pc03 p{float: left;margin-left: 58px;margin-top: 30px;}

.togglemenu{display: none;}

















