@charset "uft-8";


#page1{background-image: url(../images/bg0102.jpg);}
#page2{background-image: url(../images/gd.jpg);}
#page3{background-image: url();}
.section{
         background-repeat: no-repeat;
         background-position: center;
         background-size:cover;
      }



ul.navbar{width:100%;height:40px;top:0px;
	background-color:gray;opacity:0.9;line-height:40px;padding-left:30%;
	position:fixed;z-index:1;}
ul.navbar>li{float: left;font-size:18px;
	font-weight: bold;text-align: center;width:100px;}
ul.navbar>li>a{color:white;display: block;}
ul.navbar>li>a:hover{color:#FFE503;font-size:19px;transition:0.4s;}
.smenu{display: none;}
ul.navbar>li:nth-child(1):hover .smenu{display: block;color:#FFE503;}

ul.navbar>li:nth-child(1) .smenu{width: 100%;position: absolute;left:30%;
opacity:0.8;}
ul.navbar>li:nth-child(2):hover .smenu{display: block;color:#FFE503;}

ul.navbar>li:nth-child(2) .smenu{width: 100%;position: absolute;left:30%;
opacity:0.8;}
ul.navbar>li:nth-child(3):hover .smenu{display: block;color:#FFE503;}

ul.navbar>li:nth-child(3) .smenu{width: 100%;position: absolute;left:38%;
opacity:0.8;}
ul.navbar>li:nth-child(4):hover .smenu{display: block;color:#FFE503;}

ul.navbar>li:nth-child(4) .smenu{width: 100%;position: absolute;left:40%;
opacity:0.8;}
ul.navbar>li:nth-child(6):hover .smenu{display: block;color:#FFE503;}

ul.navbar>li:nth-child(6) .smenu{width: 100%;position: absolute;left:45%;
opacity:0.8;}
ul.navbar>li:nth-child(7):hover .smenu{display: block;color:#FFE503;}

ul.navbar>li:nth-child(7) .smenu{width: 100%;position: absolute;left:56.5%;
opacity:0.8;}
ul.navbar>li:nth-child(8):hover .smenu{display: block;color:#FFE503;}

ul.navbar>li:nth-child(8) .smenu{width: 100%;position: absolute;left:60%;
opacity:0.8;}
.smenu li{float: left;background-color:gray;}
.smenu li>a{display: block;padding:0 10px;line-height:40px;color:white;}
.smenu li>a:hover{color:#ffe503;}

/*.section ul li a:hover .smenu{display: block;}*/
.scroll{position: absolute;left: 50%;transform:translateX(-50%);
      	bottom: 20px; animation:xScroll 0.8s infinite alternate;
      	z-index:1;}

      	@keyframes xScroll{
      		form{bottom: 20px;}
      		to{bottom: 40px;}
      	}
    	
.sWrap{width: 800px;height: 390px;
position: absolute;left: 29%;top: 25%;}

.sWrap .vod{width: 800px;height:390px;background-color: #ff0000;}
#video{position: absolute;width: 100%;height: 100%;object-fit: cover}
.slider li img{width: 100%;}

.black{width: 100%;height: 100%;background-color:black;opacity:0.7;text-indent:-9999px;position: absolute;}
.guide{width: 100%;height: 100%;position: relative;}
.guide li{text-indent:-9999px}
.guide button{position: absolute;left: 48.5%;top: 49.5%;
background-color:navy;}

	/*page2*/
.guide .simg, .guide .rimg{width: 900px;height: 1000px;background-color:white;position: absolute;}

.guide .simg{
	left: -100%;top: 0;
}

.guide .rimg{
	right: -100%;top: 0;
}


.simg img{margin-left:14%;margin-top:80px;border-bottom: 1px solid black;padding-bottom:30px;}
.simg2 img{float: left;margin-top:20px;border-bottom: 0 none}
.simg2 h3{display: block;margin: 0 auto;padding-left:253px;margin-top: 20px;padding-bottom: 10px;}
.simg2 p{display: block;margin: 0 auto;padding-left: 125px;
border-bottom: 1px solid black; width: 645px; padding-bottom:20px;}

.simg3 img{float: left;border-bottom: 0 none;margin-top: 30px;}
.simg3 h3{display: block;margin: 0 auto;padding-left:253px;margin-top: 20px;padding-bottom: 10px;}
.simg3 p{display: block;margin: 0 auto;padding-left: 125px;
border-bottom: 1px solid black; width: 645px; padding-bottom:20px;}


.simg4 img{float: left;border-bottom: 0 none;margin-top: 5px;}
.simg4 h3{display: block;margin: 0 auto;padding-left:253px;margin-top: 20px;padding-bottom: 10px;}
.simg4 p{display: block;margin: 0 auto;padding-left: 125px;
border-bottom: 1px solid black; width: 645px; padding-bottom:40px;}

.simg5 img{float: left;border-bottom: 0 none;margin-top: 0px;}
.simg5 h3{display: block;margin: 0 auto;padding-left:253px;margin-top:30px;padding-bottom: 10px;}
.simg5 p{display: block;margin: 0 auto;padding-left: 125px;
border-bottom: 1px solid black; width: 645px; padding-bottom:30px;}


.rimg h2{padding-top:80px;text-align: center;font-weight: bold;color:pink;text-align: center;}
.rimg1 img{margin-left:80px;margin-top:90px;float: left;border-bottom: 1px solid #000;padding-bottom:21px;}
.rimg1 h3{width: 190px;margin-left:300px;padding-top:90px;padding-bottom:10px;color:red;}
.rimg1 p{width: 500px;margin-left:300px;text-align: center;
border-bottom: 1px solid #000;padding-bottom:20px;}

.rimg2 img{float: right;margin-right: 100px;margin-top:-140px;border-bottom: 1px solid #000;padding-bottom:21px;}
.rimg2 h3{width: 190px;margin-left:85px;padding-top:120px;padding-bottom:10px;color:blue;}
.rimg2 p{width: 500px;margin-left:80px;text-align: center;
border-bottom: 1px solid #000;padding-bottom:20px;}

.rimg3 img{margin-left:80px;margin-top:-140px;float: left;border-bottom: 1px solid #000;padding-bottom:21px;}
.rimg3 h3{width: 190px;margin-left:300px;padding-top:120px;padding-bottom:10px;color:magenta;}
.rimg3 p{width: 500px;margin-left:300px;text-align: center;
border-bottom: 1px solid #000;padding-bottom:20px;}

	/*page3*/
.main{width: 280px;height: 100px;margin: 0 auto;text-align: center;}
.main p{text-align: center;padding-top:20px;}
.main a{font-size:30px;color:red;border: 2px solid gray;border-radius:10px;}

.main a:hover{background-color:white;color:blue;}









