@charset "uft-8";
/*menu*/
.menuWrap{}
.menuTop{
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}
.logo{
  float: left;
  line-height: 50px
}
.menu{
 float: right;
 line-height: 50px;
}
.menu>ul>li{
  float: left;
  width: 150px;
  font-weight: bold;
  text-align: center;
  display: block;
}
.menu>ul>li:hover{
  background: #444daa;
}
.menu>ul>li:hover a{
  color:white;
  display: block;
}
/*slider*/
.visual{}
.visual .slider{}
.visual .slider .view{
  width: 1200px;
  height: 550px;
  margin: 0 auto;
  background: #f9f8fd;
  position: relative;
  border-radius: 20px;
}
.visual .slider .view img.mainVisual{
  position: absolute;
  right: 20px;
  top: 80px;
}
.visual .slider .view img.visualB{
  position: absolute;
  bottom: 0;
  left: 0;
}
.visual .slider .view .visualTxt{
  position: absolute;
  top: 150px;
  left: 100px;
}
.visual .slider .view .visualTxt p{
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 5px;
}
.visual .slider .view .visualTxt a{
  background: #444daa;
  font-size: 14px;
  display: block;
  width: 200px;
  height: 50px;
  color:white;
  text-align: center;
  line-height: 50px;
  margin-top: 40px
}
.visual .slider .view .visualTxt a:hover{
  background:white;
  color:#444daa;
  font-weight: bold;
  box-shadow: 0 0 5px #eee;
}
.bx-wrapper{
    -moz-box-shadow: 0 none;
    -webkit-box-shadow:none;
    box-shadow: 0 none;
    border: 0 none;
  }
  /*learn*/
  .learnWrap{
    width: 1000px;
    margin: 0 auto;
  }
  .learn{
    text-align: center;
    font-size: 2.0em;
    font-weight: bold;
    padding-bottom: 60px;
  }
  .learn>p{}
  .learnImg{}
  .learnImg>ul{}
  .learnImg>ul>li{
    float: left;
    width: 300px;
    height: 320px;
    box-shadow: 0 0 15px #ddd;
    margin-bottom: 30px;
    text-align: center;
  }
  .learnImg>ul>li:nth-child(1), .learnImg>ul>li:nth-child(2){
    margin-right: 42px;
  }
  .learnImg>ul>li>img{
    margin-top: 30px;
    margin-left: 10px;
    width: 200px;
    height: 170px;
  }
  .learnImg>ul>li>h3{
    margin-bottom: 5px;
  }
  .learnImg>ul>li>p{
    font-size: 14px
  }
  /*popular*/
  .popularWrap{
    margin: 0 auto;
    width: 1000px;
  }
  .popular{
    text-align: center;
    padding-bottom: 60px;
  }
  .popular>p:nth-child(1){
    font-size:2.0em;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 50px;
  }
  .popular>p{
    font-size: 16px;
  }
  .popularBox{position: relative;}
  .popularBox>ul{}
  .popularBox>ul>li{
    float: left;
    width: 300px;
    height: 370px;
    box-shadow: 0 0 15px #ddd;
    margin-bottom: 30px;
    text-align: left;
    position: relative;
  }
  .popularBox>ul>li>img{
    width: 300px;
  }
  .popularBox>ul>li>h3{
    font-size: 16px;
    padding-left: 20px;
    padding: 20px;
  }
  .popularBox>ul>li>p{
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 14px;
  }
  .popularBox>ul>li>p.price{
    position: absolute;
    bottom: 50px;
    right: 20px;
    font-weight: bold;
    color: #ff875a;
  }
  .popularBox>ul>li>h2{
    position: absolute;
    top: 90px;
    left: 30px;
    font-size: 30px;
    color: white;
  }
  .popularBox>ul>li>a{
    padding-left: 20px;
    font-size: 14px;
    color:#444daa;
    font-weight: bold;
  }
  .popularBox>ul>li:nth-child(1), .popularBox>ul>li:nth-child(2){
    margin-right: 42px;
  }
  /*imgcontent1*/
  .imgOneWrap{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    position: relative;
  }
  .imgOne{
    padding-top: 80px;
  }
  .imgOne>img{
    width: 350px;
    height: 340px;
  }
  .imgOne>.imgOneTxt{
    position: absolute;
    right: 0px;
    top: 150px;
  }
  .imgOne>.imgOneTxt>p{
    font-size: 25px
  }
  .imgOne>.nameOne{
    height: 50px;
    position: absolute;
    bottom: 120px;
    right: 385px;
    border-left: 4px solid #444daa;
  }
  .imgOne>.nameOne>p{
    padding-left: 10px;
    font-size: 12px;
  }
  .imgOne>.nameOne>h3{
    padding-left: 10px;
    line-height: 30px;
  }
  /*imgcontent2*/
  .imgTwoWrap{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    position: relative;
  }
  .imgTwo{
    padding-top: 60px;
  }
  .imgTwo>img{
    width: 350px;
    height: 340px;
    float: right;
  }
  .imgTwo>.imgTwoTxt{
    position: absolute;
    top: 130px;
  }
  .imgTwo>.imgTwoTxt>p{
    font-size: 25px
  }
  .imgTwo>.nameTwo{
    height: 50px;
    position: absolute;
    bottom: 140px;
    border-left: 4px solid #444daa;
  }
  .imgTwo>.nameTwo>p{
    padding-left: 10px;
    font-size: 12px;
  }
  .imgTwo>.nameTwo>h3{
    padding-left: 10px;
    line-height: 30px;
  }
  /*imgcontent3*/
  .imgThreeWrap{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
  }
  .imgThree{
    padding-top: 80px;
  }
  .imgThree>img{
    width: 395px;
    height: 400px;
  }
  .imgThree>.imgThreeTxt{
    position: absolute;
    right: 0px;
    top: 130px;
  }
  .imgThree>.imgThreeTxt>h3{
    font-size: 2.0em ;
    margin-bottom: 20px
  }
  .imgThree>.imgThreeTxt>p{
    font-size: 16px;
  }
  .imgThree>a{
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 80px;
    right: 230px;
    background:#444daa;
    text-align: center;
    line-height: 50px;
    color:white;
    font-size: 16px;
  }
  .imgThree>a:hover{
  background:white;
  color:#444daa;
  font-weight: bold;
  box-shadow: 0 0 5px #eee;
}
/*question*/
.questionWrap{
    width: 1000px;
    margin: 0 auto;
  }
  .question{
    text-align: center;
    font-size: 2.0em;
    font-weight: bold;
    padding-bottom: 60px;
  }
  .questionBox{
    height: 400px;
  }
  .questionBox>ul{}
  .questionBox>ul>li{
    float: left;
    width: 475px;
    height: 120px;
    box-shadow: 0 0 5px #eee;
    text-align: left;
    padding:10px 15px;
    margin-bottom:30px;
  }
  .questionBox>ul>li:nth-child(1),
  .questionBox>ul>li:nth-child(3){
    margin-right: 50px;
  }
  .questionBox>ul>li>h3{
    margin-bottom: 10px;
  }
  .questionBox>ul>li>p{
    font-size: 14px;
  }

  /*footer*/
  .footerWrap{}
  .footerLine{
    width: 100%;
    height: 2px;
    background: #eee;
  }
  .footerImg{
    width: 1100px;
    margin: 0 auto;
    padding:20px 0;
  }
  .footerImg .logoImg{}
  .footerImg .snsImg{
    float: right;
  }