@charset "utf-8";

#header{position: fixed;width: 1200px;height: 100px;left:50%;transform:translateX(-50%);z-index:1}
#header .logo{width: 300px;height: 100px;float: left;position: relative;}
.logo a{font-size:44px;font-weight:bold;line-height:80px;color:orange;}
#header .menu{float:left;width:600px;height: 100px;}
.menu>ul>li{float:left;width:150px;line-height:100px;
  font-size:20px;font-weight:bold;;text-align: center;}
.menu>li>a{color:red;}
.menu>li:hover{}  
.menu>ul:hover .smenu{display: block;height: 200px}  
#header .search{float:left;padding-left:20px;line-height:100px;}

#header .search input{width: 200px;height: 30px;border-radius:20px;
  text-align: center;}
#header .search button.searchBtn{height: 25px;border-radius:20px}


.smenu{_position: absolute;left: 0;display: none;background:white;
	width: 100%;z-index:1;}
.smenu li{font-size:15px;}


.smenu li a{color:gray;display: block;text-align:center;width: 100%;line-height:40px;}
.smenu li a:hover{color:black;
transition:0.3s;}


.slider a img{width: 100%;height: 800px;}


.bx-wrapper {
    -moz-box-shadow: 0 none;
    -webkit-box-shadow: 0 none;
    box-shadow: none;
    border: 0 none;
}





.content{width: 1200px;height:1200px;margin: 0 auto;background-color:pink;
 position: absolute;bottom: -732px;left: 17.5%;}
.content li{float: left;}
.content li:nth-child(1){width: 300px;height: 300px;background:white;overflow: hidden;}
.content li:nth-child(2){width: 300px;height: 300px;background: #fff;overflow: hidden;}
.content li:nth-child(3){width: 300px;height: 300px;background: #fff;overflow: hidden;}
.content li:nth-child(4){width: 300px;height: 300px;background: #fff;overflow: hidden;}
.content li:nth-child(5){width: 300px;height: 300px;background: #fff;overflow: hidden;}
.content li:nth-child(6){width: 300px;height: 300px;background: #fff;overflow: hidden;}
.content li:nth-child(7){width: 600px;height: 300px;background-color:black;}
.content li:nth-child(7) img{width: 600px;height: 300px;}
.content li:nth-child(8){width: 300px;height: 600px;background:orange;opacity:0.8; overflow: hidden;}
.content li:nth-child(9){width: 600px;height: 300px;background:skyblue;overflow: hidden;}
.content li:nth-child(9) img{width: 600px;height: 300px;}
.content li:nth-child(10){width: 300px;height: 300px;background:orange;overflow: hidden;}
.content li:nth-child(11){width: 300px;height: 300px;background:black;overflow: hidden;}
.content li:nth-child(12){width: 600px;height: 300px;background:gray;overflow: hidden;}
/*../실수로 인해서 따로 했음 한번에 하면 편했을걸......*/

/*.content img{width: 300px;height: 300px;}*/

.content07 a{display: block;}
.content07 a:hover{background:black;opacity:0.5;}

.content08 h3{color:white;text-align: center;padding-top: 50px;font-size:30px}
.content08 p{color:white;text-align: center;padding-top:60px;
font-size:14px}
