@charset "uft-8";


#page1{background-image: url(../images/bg0102.jpg);}
#page2{background-image: url(../images/gd.jpg);z-index:1;}
#page3{background-image: url();}
.sectionT{
         background-repeat: no-repeat;
         background-position: center;
         background-size:cover;
      }
      .scroll{position: absolute;left: 50%;transform:translateX(-50%);
         bottom: 20px; animation:xScroll 0.8s infinite alternate;
         z-index:1;}

         @keyframes xScroll{
            from{bottom: 20px;}
            to{bottom: 40px;}
         }

.sWrap h3{animation-iteration-count: infinite;padding-bottom:2%;text-align: center;color:white;font-weight: bold;font-size:20px;}
.sWrap .vod{width: 800px;height:390px;background-color: #ff0000;}
#video{position: absolute;width: 100%;height: 100%;object-fit: cover}
img.logo{width: 20%;position: absolute;left: 40%;top: 6%;z-index:1;}

.black{width: 100%;height: 100%;background-color:black;opacity:0.7;text-indent:-9999px;position: absolute;}
.guide{width: 100%;height: 100%;position: relative;}
.guide li{text-indent:-9999px}
.guide h1{color:white;position: absolute;left: 50%;top: 5%;font-size:30px;transform: translateX(-50%);}
.guide button>img{width:80%;}
.guide button{position: absolute;left: 46%;top:35%;
background-color:navy;z-index:1;}

.simg{width: 100%;height: 100%;position: absolute;left: -100%;background-color:white;}
.simg img.keyB{margin-left:14%;margin-top:3%;width: 80%;}


.section .mobile{width: 700px;height: 100%;background-color:#7caeeb;position: absolute;
top:-100%;left: 0;}
.section .pc{position: absolute;bottom: -100%;
width: 700px;height: 100%;right:0;background-color:#7caeeb;}
.white{color:white;}
.mobile h3{font-size:30px;px;text-align: center;padding-top: 70px;}
.mobile01{width: 700px;height: 200px;background-color:white;margin-top: 50px;}
.mobile01 img{float: left;margin-left:20px;margin-top:0px;}
.mobile01 h3{width: 200px;margin: 0 auto;margin-top: 20px;}
.mobile01 p{float: left;margin-left: 36px;margin-top: 30px;}


.mobile02{width: 700px;height: 200px;background-color:white;}
.mobile02 img{float: left;margin-left:20px;margin-top:0px;}
.mobile02 h3{width: 200px;margin: 0 auto;margin-top: 60px;text-align:left;}
.mobile02 p{float: left;margin-left:30px;margin-top: 30px;}



.mobile03{width: 700px;height: 200px;background-color:white;}
.mobile03 img{float: left;margin-left:20px;margin-top:0px;}
.mobile03 h3{width: 200px;margin: 0 auto;text-align:left;margin-top: 60px;}
.mobile03 p{float: left;margin-left: 30px;margin-top: 30px;}



.pc h3{text-align: center;padding-top: 60px;font-size:30px;}

.pc01{width: 700px;height: 200px;background-color:white;}
.pc01 img{float: left;margin-left:20px;margin-top:0px;}
.pc01 h3{width: 500px;margin: 0 auto;margin-top:40px;  }
.pc01 p{float: left;margin-left: 50px;margin-top: 30px;text-align: center;}


.pc02{width: 700px;height: 200px;background-color:white;}
.pc02 img{float: left;margin-left:20px;margin-top:0px;}
.pc02 h3{width: 400px;margin: 0 auto;margin-top: 60px;text-align:center;}
.pc02 p{float: left;margin-left:50px;margin-top: 30px;}



.pc03{width: 700px;height: 200px;background-color:white;}
.pc03 img{float: left;margin-left:20px;margin-top:0px;}
.pc03 h3{width: 500px;margin: 0 auto;margin-top: 60px;}
.pc03 p{float: left;margin-left: 58px;margin-top: 30px;}








.navbar{display: none;}
.smenu{display: none;}
.bar,.click{display: none;}
.topMenu{display: none;}
.banner{display: none;}
.slider img{display: none;}
.click{display: none;}



.simg{display: none;}
.simg2{display: none;}
.vimg{display: none;}
.view{display: none;}
.setBtn{display: none;}
.rimg{display: none;}
.rimg1{display: none;}
.rimg2{display: none;}
.rimg3{display: none;}

.mobile_simg{width: 45%;margin: 0 auto;background: #fff;position: absolute;z-index: 999;bottom: 0px;left: 0;}
.mobile_simg2{width: 100%;}
.mobile_vimg{width: 30%;}
.mobile_view{
   width: 100%;
   font-size: 12px;
   color:gray;
}
.mobile_rimg img{width: 44.1%;}
.mobile_rimg{width: 45%;margin: 0 auto;background: #fff;position: absolute;z-index: 999;bottom: 0px;right: 0;}
.mobile_rimg1{width: 100%;font-size: 12px;}
.mobile_rimg2{width: 100%;font-size: 12px;}
.mobile_rimg3{width: 100%;font-size: 12px;}









